certifi==2019.9.11
chardet==3.0.4
confusable-homoglyphs==3.2.0
Django==2.2.10
django-mailgun==0.9.1
django-postgres-extensions==0.9.3
django-registration==2.4.1
djangorestframework==3.10.3
djangorestframework-simplejwt==4.3.0
gunicorn==19.9.0
idna==2.8
jenkins==1.0.2
numpy==1.17.4
opencv-python==4.2.0.32
Pillow==6.2.1
psycopg2-binary==2.8.4
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
